[submodule "libs/common_msgs"]
	path = libs/common_msgs
	url = git@github.com:ros/common_msgs.git
[submodule "libs/genpy"]
	path = libs/genpy
	url = git@github.com:ros/genpy.git
[submodule "libs/genmsg"]
	path = libs/genmsg
	url = git@github.com:ros/genmsg.git
[submodule "libs/std_msgs"]
	path = libs/std_msgs
	url = git@github.com:ros/std_msgs.git
[submodule "libs/ros_comm"]
	path = libs/ros_comm
	url = git@github.com:ros/ros_comm.git
[submodule "libs/ros"]
	path = libs/ros
	url = git@github.com:ros/ros.git
[submodule "libs/catkin"]
	path = libs/catkin
	url = git@github.com:ros/catkin.git
[submodule "libs/ros_comm_msgs"]
	path = libs/ros_comm_msgs
	url = git@github.com:ros/ros_comm_msgs.git