/* =========================
   Kaffeeautomat – Fullscreen
   ========================= */

.coffee-body {
  min-height: 100vh;
  background-color: #f5f5f5;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.coffee-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Text allgemein */
.coffee-text {
  font-size: 50px;
  line-height: 1.35;
  max-width: 900px;
}

/* Text oben */
.coffee-text-top {
  color: #d50b2e;
  margin-bottom: 30px;
}

/* EN Text  */
.coffee-text-bottom {
  color:#1a1a1a;
  margin-top: 24px;
}

/* Illustration */
.coffee-image img {
  width: 300px;        /* bewusst ruhig */
  max-width: 50vw;
  height: auto;
}

.coffee-body {
 min-height: 100vh;
  background-color: #fde9f9;
}