* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  }
  
  body {
    min-height: 100vh;
    background-color: #fde9f9;
    display: flex;
    flex-direction: column;
  }
  
  .top-bar {
    background-color: #d50b2e; 
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-bear {
    height: 40px;          
    width: auto;
  }

  .speech-bild {
    height: 40px;          
    width: auto;
  }
  
  .top-bar-right {
    display: flex;
    gap: 12px;
  }
  
  .lang-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .lang-btn img {
    height: 28px;          
    width: auto;
  }
  
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  
  .main h1 {
    font-size: clamp(28px, 4vw, 40px);
    margin-bottom: 10px;
  }
  
  .main p {
    font-size: clamp(22px, 3vw, 32px);
    margin-bottom: 60px;
  }
  
  .start-btn {
    background-color: #d50b2e;
    color: #fff;
    border: none;
    border-radius: 16px;
    padding: 26px 90px;
    font-size: 36px;
    cursor: pointer;
    text-decoration: none;
  }

/* Raumwahl */

.question-title {
  font-size: clamp(28px, 4vw, 40px);
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.speaker-area {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.speaker-icon {
  height: 120px;
  width: auto;
}

.options-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.option-btn {
  background-color: #d50b2e;
  color: #fff;
  border: none;
  border-radius: 16px;
  padding: 26px 90px;
  font-size: 36px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 340px;     
  height: 140px;
}

 /* Error Screen */
.error-title {
  font-size: clamp(200px, 14vw, 200px);
  color: #d50b2e;
  margin-bottom: 50px;
  font-weight: 700;
}

.error-text {
  font-size: clamp(24px, 3vw, 38px);
  color: #d50b2e;
  max-width: 1100px;
  margin: 0 auto 60px auto;
  line-height: 1.4;
}

.warning-icon {
  width: clamp(150px, 20vw, 280px);
  height: auto;
}

.error-btn {
  margin-top: 30px;
  background-color: #f4b000; 
  color: #000;

  padding: 18px 40px;
  font-size: 26px;
  border-radius: 14px;
  width: 320px;     
  max-width: 80%;   
}




