<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karte</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/karte.css') }}">
</head>
<body>

<div class="karte-wrapper">

    <!--  Karte -->
    <div class="map-container">
        
        <img src="{{ url_for('static', filename='images/karten/1OG_rechts.svg') }}"
            alt="Karte 1. OG"
            class="map-image">

        <!-- Pfeil + Linie als SVG -->
        <svg id="arrow" class="arrow" width="160" height="160" viewBox="0 0 160 160">

            <!-- Kreis unten -->
            <circle cx="80" cy="120" r="6" fill="black"/>

            <!-- Vertikale dicke Linie -->
            <line x1="80" y1="120" x2="80" y2="40"
                stroke="black" stroke-width="5" stroke-linecap="round"/>

            <!-- Horizontale dicke Linie -->
            <line x1="80" y1="40" x2="150" y2="40"
                stroke="black" stroke-width="5" stroke-linecap="round"/>

            <!-- Pfeilspitze -->
            <path d="M145 33 L160 40 L145 47 Z" fill="black"/>
        </svg>
    </div>


    <!-- Anweisungen -->
    <div class="map-info">
        <h1>1. OG</h1>
        <p>• Gehen Sie in den 1. OG</p>
        <p>• Biegen Sie rechts ab</p>
        <p>• Der Raum befindet sich auf der rechten Seite</p>

        <button class="stop-btn">Stopp</button>
    </div>

</div>

<!-- Pfeil-JavaScript -->
<script src="{{ url_for('static', filename='karte.js') }}"></script>
<script>
    setArrow("right");
</script>

</body>
</html>
